[Unit]
Description=Transparent DNS SOCKS Proxy

[Service]
ExecStart=/usr/bin/dns_proxy /etc/dns_proxy/dns_proxy.conf

[Install]
WantedBy=multi-user.target

